examples/deAPI_guide.json
{
  "name": "deAPI guide",
  "nodes": [
    {
      "parameters": {
        "content": "# How to run the deAPI action node\n1. Add any operation from the deAPI action node from the right panel.\n2.  In the node details, go to the first field \"Credential to connect with\".\n3. From the dropdown list, select \"create new credential\".\n4. Enter your API Key. https://docs.deapi.ai/quickstart#2-obtain-your-api-key\n5. Enter your Webhook Secret. https://deapi.ai/settings/webhooks\n6. Save - save the credential.\n7. In the node details, fill in the required fields for the specific operation.",
        "height": 736,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [528, 272],
      "typeVersion": 1,
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# How to run the deAPI webhook trigger node\n1. Add any deAPI trigger from the right panel.\n2. In the node details, go to the first field \"Credential to connect with\".\n3. From the dropdown list, select \"create new credential\".\n4. Enter your API Key.\nhttps://docs.deapi.ai/quickstart#2-obtain-your-api-key\n5. Enter your Webhook Secret. https://deapi.ai/settings/webhooks\n6. Save - save the credential.\n7. Fill in the \"Trigger On\" field.\n8. Expand \"Webhook URLs\".\n9. Copy the URL after selecting \"TEST URL\".\n10. Paste the URL as the value of the \"webhook_url\" field in an external request.\nhttps://docs.deapi.ai/execution-modes-and-integrations/webhooks#per-request-override\n11. Press \"Execute workflow\" on the trigger node to start listening.\n\n**After sending such a request, the triggering node should react when the transition to the selected job state occurs.**",
        "height": 736,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [944, 272],
      "typeVersion": 1,
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Text-to-text-to-image",
        "height": 208,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1456, 592],
      "typeVersion": 1,
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text-to-text-to-video",
        "height": 208,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1456, 832],
      "typeVersion": 1,
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/spaceship1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1952, 272],
      "name": "Read image"
    },
    {
      "parameters": {
        "content": "## Text&image-to-text, text&image-to-video",
        "height": 208,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1904, 224],
      "typeVersion": 1,
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/spaceship*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1952, 544],
      "name": "Read first and last frame"
    },
    {
      "parameters": {
        "content": "## Text&image-to-text, text&image-to-video\n### 2 frames",
        "height": 240,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1904, 464],
      "typeVersion": 1,
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "={{ $json.data.result_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2336, 912],
      "name": "Get result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2128, 1024],
      "name": "Check job status"
    },
    {
      "parameters": {
        "content": "## Handle webhook responses related to more than one event\n### The `Get result` node works only for Production URL as the `webhook_url` and the workflow need to be published.\n### Results from Production URL are visible only in the `Executions` panel.",
        "height": 560,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1904, 736],
      "typeVersion": 1,
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Text-to-text-to-image, text&image-to-text, text&image-to-video\n### It generates a video from simple prompt and a generated image. In the way, the prompt with image context is boosted",
        "height": 272,
        "width": 848,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2496, 224],
      "typeVersion": 1,
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Text-to-text-to-image, text&image-to-video\n### It generates a video from simple prompt and a generated image. The prompt isn't boosted with image context.",
        "height": 272,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2640, 528],
      "typeVersion": 1,
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Image-video-text & webhook triggers",
        "height": 1232,
        "width": 1952,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1424, 96],
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [576, -112],
      "name": "Read video"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [992, -112],
      "name": "Extract transcription file"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/audio.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [576, -288],
      "name": "Read audio"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [992, -288],
      "name": "Extract transcription file1"
    },
    {
      "parameters": {
        "content": "# Audio-video-text",
        "height": 688,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [512, -432],
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [784, 64],
      "name": "Extract transcription file2"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/spaceship1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1504, 1088],
      "name": "Read image1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/spaceship1.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [2656, 832],
      "name": "Read image2"
    },
    {
      "parameters": {
        "content": "### Text-to-text-to-image-to-image-to-image\n#### Boosts prompt, generates image, ( removes background, upscales, or reverse order )\n...",
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2624, 992],
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "### Text-to-text-to-image-to-image\n#### Boosts prompt, generates image, removes background\n...",
        "height": 144,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3008, 992],
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "### Text-to-image-to-image\n#### Generates image, removes background, or reverse order\n...",
        "height": 144,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3008, 1152],
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "#### Load image, upscale it, and animate it\n...",
        "height": 144,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2656, 1168],
      "name": "Sticky Note14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-deapi.deapiTrigger",
      "typeVersion": 1,
      "position": [1504, 272],
      "name": "deAPI Trigger"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "transcribe",
        "source": "binary",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [784, -112],
      "name": "Transcribe a video from file"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "transcribe",
        "videoUrl": "https://www.youtube.com/watch?v=9N3aNS6Kk1o",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [576, 64],
      "name": "Transcribe a video from url"
    },
    {
      "parameters": {
        "resource": "video",
        "prompt": "a red bull can",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1712, 272],
      "name": "Text-to-video"
    },
    {
      "parameters": {
        "prompt": "a red bull can",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1504, 432],
      "name": "Text-to-image"
    },
    {
      "parameters": {
        "resource": "video",
        "source": "image",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1712, 432],
      "name": "Image-to-video"
    },
    {
      "parameters": {
        "resource": "audio",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [784, -288],
      "name": "Transcribe an audio from file"
    },
    {
      "parameters": {
        "resource": "prompt",
        "prompt": "a spaceship",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1504, 640],
      "name": "Image prompt booster"
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1680, 640],
      "name": "Text-to-image1"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "boostVideo",
        "prompt": "a clown dances",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1504, 880],
      "name": "Video prompt booster"
    },
    {
      "parameters": {
        "resource": "video",
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1680, 880],
      "name": "Text-to-video2"
    },
    {
      "parameters": {
        "operation": "removeBackground",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [1680, 1088],
      "name": "Remove background1"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "boostVideo",
        "prompt": "The spaceship drops instantly",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2128, 272],
      "name": "Video prompt booster1"
    },
    {
      "parameters": {
        "resource": "video",
        "source": "image",
        "prompt": "={{ $json.prompt }}",
        "firstFrame": "={{ $('Read image').item.binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2304, 272],
      "name": "Image-to-video1"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "boostVideo",
        "prompt": "a solar flare hits the spaceships",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2128, 544],
      "executeOnce": true,
      "name": "Video prompt booster2"
    },
    {
      "parameters": {
        "resource": "video",
        "source": "image",
        "prompt": "={{ $json.prompt }}",
        "firstFrame": "={{ $('Read first and last frame').first().binary.data }}",
        "options": {
          "lastFrame": "={{ $('Read first and last frame').last().binary.data }}"
        }
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2304, 544],
      "name": "Image-to-video2"
    },
    {
      "parameters": {
        "events": ["jobCompleted", "jobProcessing", "jobFailed"]
      },
      "type": "n8n-nodes-deapi.deapiTrigger",
      "typeVersion": 1,
      "position": [1952, 1040],
      "name": "On any job status"
    },
    {
      "parameters": {
        "resource": "prompt",
        "prompt": "dog and cat smile to each other",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2544, 336],
      "name": "Image prompt booster1"
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2752, 336],
      "name": "Text-to-image2"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "boostVideo",
        "prompt": "The cat punches a dog",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2960, 336],
      "name": "Video prompt booster3"
    },
    {
      "parameters": {
        "resource": "prompt",
        "prompt": "an elephant with human-shaped chocolates on safari",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2688, 640],
      "name": "Image prompt booster2"
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2896, 640],
      "name": "Text-to-image3"
    },
    {
      "parameters": {
        "resource": "video",
        "source": "image",
        "prompt": "={{ $json.prompt }}",
        "firstFrame": "={{ $('Text-to-image2').item.binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [3168, 336],
      "name": "Image-to-video3"
    },
    {
      "parameters": {
        "resource": "video",
        "source": "image",
        "prompt": "The elephant eats the chocolates with joy",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [3104, 640],
      "name": "Image-to-video4"
    },
    {
      "parameters": {
        "operation": "upscale",
        "options": {}
      },
      "type": "n8n-nodes-deapi.deapi",
      "typeVersion": 1,
      "position": [2832, 832],
      "name": "Upscale an image"
    }
  ],
  "connections": {
    "Check job status": {
      "main": [
        [{"node": "Get result", "type": "main", "index": 0}]
      ]
    },
    "Read audio": {
      "main": [
        [{"node": "Transcribe an audio from file", "type": "main", "index": 0}]
      ]
    },
    "Transcribe an audio from file": {
      "main": [
        [{"node": "Extract transcription file1", "type": "main", "index": 0}]
      ]
    },
    "Read video": {
      "main": [
        [{"node": "Transcribe a video from file", "type": "main", "index": 0}]
      ]
    },
    "Transcribe a video from url": {
      "main": [
        [{"node": "Extract transcription file2", "type": "main", "index": 0}]
      ]
    },
    "Image prompt booster": {
      "main": [
        [{"node": "Text-to-image1", "type": "main", "index": 0}]
      ]
    },
    "Video prompt booster": {
      "main": [
        [{"node": "Text-to-video2", "type": "main", "index": 0}]
      ]
    },
    "Read image1": {
      "main": [
        [{"node": "Remove background1", "type": "main", "index": 0}]
      ]
    },
    "Read image": {
      "main": [
        [{"node": "Video prompt booster1", "type": "main", "index": 0}]
      ]
    },
    "Video prompt booster1": {
      "main": [
        [{"node": "Image-to-video1", "type": "main", "index": 0}]
      ]
    },
    "Read first and last frame": {
      "main": [
        [{"node": "Video prompt booster2", "type": "main", "index": 0}]
      ]
    },
    "Video prompt booster2": {
      "main": [
        [{"node": "Image-to-video2", "type": "main", "index": 0}]
      ]
    },
    "Transcribe a video from file": {
      "main": [
        [{"node": "Extract transcription file", "type": "main", "index": 0}]
      ]
    },
    "Image prompt booster1": {
      "main": [
        [{"node": "Text-to-image2", "type": "main", "index": 0}]
      ]
    },
    "Text-to-image2": {
      "main": [
        [{"node": "Video prompt booster3", "type": "main", "index": 0}]
      ]
    },
    "Video prompt booster3": {
      "main": [
        [{"node": "Image-to-video3", "type": "main", "index": 0}]
      ]
    },
    "Image prompt booster2": {
      "main": [
        [{"node": "Text-to-image3", "type": "main", "index": 0}]
      ]
    },
    "Text-to-image3": {
      "main": [
        [{"node": "Image-to-video4", "type": "main", "index": 0}]
      ]
    },
    "Read image2": {
      "main": [
        [{"node": "Upscale an image", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
